<script>
  import { writable } from "svelte/store";
  import { setContext } from "svelte";
  import { browser } from "$app/environment";
  import Puzzle from "./Puzzle.svelte";
  import Tuto from "./Tuto.svelte";
  import Indice from "./Indice.svelte";
  import FeuArtifice from "./FeuArtifice.svelte";
  let password = $state(
    (browser && localStorage.getItem("SecretNotTellable-password")) || "",
  );
  let successFunction = writable([]);
  setContext("successFunction", successFunction);
  let success = $state([false]);
  let level = $state(0);
  let startedFire = false;
  let fireLevel = -1;
  let tutoLevel = 999;
  let n = 0;
  const loto = [...Array(50).keys()].slice(1);
  let passwordInput;
  let cacherCodeSource = browser && (location.hash !== "" || location.href.slice(-1) === "#");
  let mentionsLegales = $state(false);

  $effect(() => {
    browser && localStorage.setItem("SecretNotTellable-password", password);
    for (let i = 0; i < $successFunction.length; i++) {
      success[i] = $successFunction[i](password);
    }
    let newLevel = 0;
    for (; newLevel < success.length && success[newLevel]; newLevel++);
    if (newLevel > level) {
      level = newLevel;
    }
    if (level === fireLevel && !startedFire) {
      startedFire = true;
      const fireStartingPosition = Math.round(Math.random() * password.length);
      // Attention, si le mdp a déjà des emojis cela peut planter car un emoji est codé sur plusieurs caractères
      password =
        password.substring(0, fireStartingPosition) +
        "🔥" +
        password.substring(fireStartingPosition);
      const propagateFire = () => {
        const firePosition = password.indexOf("🔥");
        const lastFirePosition = password.lastIndexOf("🔥");
        if (firePosition !== -1) {
          const selectionStart = passwordInput.selectionStart;
          const selectionEnd = passwordInput.selectionEnd;
          // On enflamme un caractère à gauche ou à droite
          const direction = Math.random() < 0.5 ? "LEFT" : "RIGHT";
          if (direction === "LEFT" && firePosition > 0) {
            password =
              password.substring(0, firePosition - 1) +
              "🔥" +
              password.substring(firePosition);
          } else if (
            direction === "RIGHT" &&
            lastFirePosition < password.length - 2
          ) {
            password =
              password.substring(0, lastFirePosition + 2) +
              "🔥" +
              password.substring(lastFirePosition + 3);
          }
          setTimeout(() => {
            passwordInput.selectionStart = selectionStart;
            passwordInput.selectionEnd = selectionEnd;
          }, 0);
          setTimeout(propagateFire, 2000);
        }
      };
      setTimeout(propagateFire, 2000);
    }
  });
</script>

<!-- svelte-ignore non_reactive_update -->
<div
  class="uk-padding"
  style:transform={/hhbbgdgdba/i.test(password) ? "rotate3d(1,1,1,5deg)" : ""}
  style:display={mentionsLegales ? "none" : ""}
>
  <div class="uk-card uk-card-body uk-card-default uk-card-primary">
    <h3 class="uk-card-title">Votre mot de passe :</h3>
    <div class="uk-card-badge uk-label">Niveau {Math.min(level, 42)}</div>
    <div class="uk-card-badge uk-label">Niveau {Math.min(level, 42)}</div>

    <input
      type="text"
      class="uk-input uk-width-1-1"
      bind:this={passwordInput}
      bind:value={password}
    />
  </div>
  <hr class="uk-divider-icon" />

  {#if level > 42}
    <div class="uk-container-xsmall uk-align-center uk-text-center">
      <div class="uk-alert uk-alert-success">
        <b>Félicitation,</b> vous avez terminé le jeu !
      </div>
      <FeuArtifice />
    </div>
    <hr class="uk-divider-icon" />
  {/if}

  <div id="puzzles">
    <Puzzle n={n++} {success} {level} check={(password) => password !== ""}>
      Merci de choisir un mot de passe que vous n'avez jamais utilisé sur un
      autre site. Attention celui-ci sera affiché en clair sur cette page.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.length >= 4}
    >
      Votre mot de passe doit contenir au moins 4 caractères.
    </Puzzle>

    <Puzzle n={n++} {success} {level} check={(password) => /\d/.test(password)}>
      Votre mot de passe doit contenir au moins un chiffre.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /[^a-zA-Z0-9]/.test(password)}
    >
      Votre mot de passe doit contenir un caractère spécial.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password[0] === password[password.length - 1]}
    >
      Le premier caractère doit être égal au dernier caractère.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /(?:Androdias|Boucheron)/i.test(password)}
    >
      Votre mot de passe doit contenir le nom de famille d'un Français ayant
      obtenu la médaille d'Or en Aviron aux jeux olympiques d'été de 2020.
      <Indice>
        Vous avez le droit d'effectuer une recherche sur internet.
      </Indice>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /D3/i.test(password)}
    >
      Votre mot de passe doit contenir la case d'arrivée de l'alien après avoir
      exécuté le programme ci-dessous.<br />
      <div class="uk-flex uk-flex-left uk-flex-middle">
        <div class="uk-padding-small">
          <img src="./enigmes/alien1.png" alt="" />
        </div>
        <div class="uk-padding-small">
          <img src="./enigmes/alien.png" style="width:500px;" alt="" />
        </div>
      </div>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => {
        let numberPassword = password.replaceAll(/[^0-9]/g, "");
        let sumOfDigits = 0;
        for (let i = 0; i < numberPassword.length; i++) {
          sumOfDigits += parseInt(numberPassword[i]);
        }
        return sumOfDigits % 10 === 0;
      }}
    >
      La somme des chiffres de votre mot de passe doit être un multiple de 10.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /Japon/i.test(password)}
    >
      Votre mot de passe doit contenir le nom du pays aux coordonnées GPS
      36.89,139.41.
      <Tuto>
        Ces coordonnées peuvent aussi être données sous le format suivant :
        36°53'24.0"N 139°24'36.0"E.
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.indexOf("1993") !== -1}
    >
      Votre mot de passe doit contenir l'année durant laquelle le CERN renonce
      aux droits d'auteur sur les logiciels du World Wide Web et permet leur
      mise dans le domaine public.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /python/i.test(password)}
    >
      Votre mot de passe doit contenir le nom du langage du code ci-dessous.<br
      />
      <img src="./enigmes/langage3.png" alt="" />
    </Puzzle>

    <Puzzle
      n={(fireLevel = n) && n++}
      {success}
      {level}
      check={(password) =>
        (password.indexOf("🔥") === -1 && startedFire) ||
        password.indexOf("💧") !== -1}
    >
      Oh non ! Votre mot de passe est en feu ! Vite éteignez l'incendie avant
      qu'il ne brûle tout !
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.indexOf("💧") !== -1}
    >
      Votre mot de passe doit contenir le caractère 💧. Au moins plus de risque
      d'incendie avec ça !
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /H12/i.test(password)}
    >
      Votre mot de passe doit contenir la case d'arrivée de l'alien après avoir
      exécuté le programme ci-dessous.<br />
      <div class="uk-flex uk-flex-left uk-flex-middle">
        <div class="uk-padding-small">
          <img src="./enigmes/alien2.png" alt="" />
        </div>
        <div class="uk-padding-small">
          <img src="./enigmes/alien.png" style="width:500px;" alt="" />
        </div>
      </div>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) =>
        /Qwant/i.test(password) &&
        !/(Firefox|Google Chrome|Edge)/i.test(password)}
    >
      Votre mot de passe doit contenir l'intrus parmi la liste ci-dessous. Il ne
      doit pas contenir les autres éléments de la liste.<br />
      Firefox, Google Chrome, Qwant, Edge

      <Tuto>
        Il ne faut pas confondre navigateur et moteur de recherche. Qwant est un
        moteur de recherche et permet de trouver des sites webs alors que les
        autres sont des navigateurs, c'est à dire des logiciels permettant de
        naviguer sur des sites webs.
      </Tuto>
    </Puzzle>

    <!-- A ne pas séparer : qwaNTPixel -->

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /pixel/i.test(password)}
    >
      Votre mot de passe doit contenir le nom des nombreux petits carrés de
      couleur qui composent généralement une image numérique.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) =>
        password.match(/w/gi)?.length === password.match(/h/gi)?.length}
    >
      Votre mot de passe doit contenir autant de fois la lettre w que la lettre
      h.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.indexOf("110100") !== -1}
    >
      Votre mot de passe doit contenir le nombre 52 en binaire.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /G9/i.test(password)}
    >
      Votre mot de passe doit contenir la case d'arrivée de l'alien après avoir
      exécuté le programme ci-dessous.<br />
      <div class="uk-flex uk-flex-left uk-flex-middle">
        <div class="uk-padding-small">
          <img src="./enigmes/alien3.png" alt="" />
        </div>
        <div class="uk-padding-small">
          <img src="./enigmes/alien.png" style="width:500px;" alt="" />
        </div>
      </div>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /#FFA500/i.test(password)}
    >
      Votre mot de passe doit contenir la couleur orange en notation hexadécimal
      (selon la norme CSS).
      <Indice>
        N'oubliez pas le symbole <code>#</code>.
      </Indice>
      <Tuto>
        En notation hexadécimal, on compte jusqu'à 15 en utilisant les chiffres
        de 0 à 9 puis les lettres de A à F. Dans une couleur en notation
        hexadécimal, les deux premiers caractères correspondent à la quantité de
        rouge, les deux suivants à la quantité de vert et les deux derniers à la
        quantité de bleu. Par exemple, la couleur rouge est notée #FF0000.
        {#if level >= tutoLevel}
          Le mot secret est caoutchouc.
        {/if}
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /while/i.test(password)}
    >
      Votre mot de passe doit contenir le mot clef python permettant de faire
      des boucles Tant que.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) =>
        /(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)/.test(
          password,
        )}
    >
      Votre mot de passe doit contenir une adresse IP au format ipV4.
      <Tuto>
        Devant la pénurie d'adresse au format ipV4, les adresses ipV6 ont été
        créées. Voici un exemple d'addresse ipV6 :
        2001:0db8:0000:85a3:0000:0000:ac1f:8001.
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /C3/i.test(password)}
    >
      Votre mot de passe doit contenir la case d'arrivée de l'alien après avoir
      exécuté le programme ci-dessous.<br />
      <div class="uk-flex uk-flex-left uk-flex-middle">
        <div class="uk-padding-small">
          <img src="./enigmes/alien4.png" alt="" />
        </div>
        <div class="uk-padding-small">
          <img src="./enigmes/alien.png" style="width:500px;" alt="" />
        </div>
      </div>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /D.?N.?S/i.test(password)}
    >
      Votre mot de passe doit contenir le nom du protocole permettant de
      convertir un nom de domaine en adresse IP.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.indexOf("3700") !== -1}
    >
      Votre mot de passe doit contenir la valeur de la cellule C2 après recopie
      vers le bas de la cellule C1.<br />
      <img src="./enigmes/tableur1.png" alt="" />
      <Tuto>
        Lors d'une recopie vers le bas, le tableur utilise des positions
        relative. Par exemple, dans la cellule C2, la formule est devenue <code
          >=A2*B2</code
        >.
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /cookie/i.test(password)}
    >
      Votre mot de passe doit contenir le nom donné au fichier texte permettant
      aux sites web de stocker une petite quantité d'information sur
      l'ordinateur de l'internaute.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.indexOf("4800") !== -1}
    >
      Votre mot de passe doit contenir la valeur de la cellule C2 après recopie
      vers le bas de la cellule C1.<br />
      <img src="./enigmes/tableur2.png" alt="" />
      <Tuto>
        Il peut être utile de vouloir utiliser des positions absolue et non
        relative lors d'une recopie vers le bas. Le symbole $ permet de fixer
        une position.<br />
        Par exemple, dans la cellule C2, la formule est devenue
        <code>=A$1*B2</code>
        au lieu de <code>=A2*B2</code> car le numéro de ligne de la cellule A1 a
        été bloquée.<br />
        On aurait pu aussi bloquer le numéro de colonne en écrivant
        <code>=$A1*B2</code> dans le cadre d'une recopie vers la droite.
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) =>
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].every((x) => password.indexOf(x) !== -1)}
    >
      Votre mot de passe doit contenir tous les chiffres de 0 à 9.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /html/i.test(password)}
    >
      Votre mot de passe doit contenir le nom du langage du code ci-dessous.<br
      />
      <img src="./enigmes/langage1.png" alt="" />
      <Tuto>
        Le language HTML (HyperText Markup Language) est un langage utilisé dans
        la création de site web. Il permet de structurer le contenu de la page
        web en utilisant des balises.
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.indexOf("222-33-2-2") !== -1}
    >
      Votre mot de passe doit contenir le numéro de l'article de loi commençant
      par :
      <cite>
        Le fait de harceler une personne par des propos ou comportements répétés
        ayant pour objet ou pour effet une dégradation de ses conditions de vie
        se traduisant par une altération de sa santé physique ou mentale est
        puni d'un an d'emprisonnement et de 15 000 € d'amende lorsque ces faits
        ont causé une incapacité totale de travail inférieure ou égale à huit
        jours ou n'ont entraîné aucune incapacité de travail.
      </cite>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /css/i.test(password)}
    >
      Votre mot de passe doit contenir le nom du langage du code ci-dessous.<br
      />
      <img src="./enigmes/langage2.png" alt="" />
      <Tuto>
        Le language CSS (Cascading Style Sheets) est un langage utilisé dans la
        création de site web. Il permet de définir le style graphique des
        éléments d'une page web (couleur du texte, couleur du fond, etc.).
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /Cuba/i.test(password)}
    >
      <!-- https://commons.wikimedia.org/wiki/File:Vista_Varadero_calle_38.jpg?uselang=fr -->
      Votre mot de passe doit contenir le nom du pays d'où a été prise cette photo.<br
      />
      <img src="./enigmes/photo-c0.jpg" alt="" style="height:400px;" />
      <Indice>Il y a peut-être des informations dans les données EXIF.</Indice>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /eddik/i.test(password)}
    >
      Votre mot de passe doit contenir "vinaigre" en norvégien.
    </Puzzle>

    <Puzzle
      n={(tutoLevel = n) && n++}
      {success}
      {level}
      check={(password) =>
        /caoutchouc/i.test(password) && !/HHBBGDGDBA/i.test(password)}
    >
      Votre mot de passe doit contenir le mot secret se trouvant dans l'une des
      explications <b>Le saviez-vous ?</b> se trouvant dans certaines des règles
      précédentes. De plus votre mot de passe ne doit <b>pas</b> contenir "HHBBGDGDBA".
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /0?1011010/i.test(password)}
    >
      Votre mot de passe doit contenir le code binaire permettant d'afficher le
      caractère "Z majuscule" d'après la table ASCII.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => password.indexOf("161587") !== -1}
    >
      Votre mot de passe doit contenir le nombre de pixels contenus dans l'image
      ci-dessous :<br />
      <img src="./enigmes/pixels.png" alt="" />
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => !/([^2])\1{2,}/i.test(password)}
    >
      Votre mot de passe ne doit pas contenir trois fois le même caractère
      d'affilée (sauf pour le nombre 2).
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /CC-BY-NC/i.test(password)}
    >
      Votre mot de passe doit contenir le nom abrégé de la licence Creative
      Commons de libre diffusion sous réserve de citer l'auteur et de ne pas
      faire un usage commercial de la ressource.
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /Esperluette/i.test(password)}
    >
      Votre mot de passe doit contenir le mot caché dans cette image.
      <br />
      <img src="./enigmes/esp.png" alt="" />
      <Indice>
        Vous aurez peut-être besoin d'un logiciel d'édition d'image.
      </Indice>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => /Julie/i.test(password)}
    >
      Votre mot de passe doit contenir le prénom de la personne la plus âgée
      habitant en France dans ce fichier tableur :
      <ul class="uk-margin-small-top">
        <li>
          <a href="./enigmes/data.ods" download>data.ods</a> (Libre Office)
        </li>
        <li>
          <a href="./enigmes/data.xlsx" download>data.xlsx</a> (Excel)
        </li>
      </ul>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) =>
        /Okation/i.test(password) &&
        !/(TCP\/IP|P2P|HTTP|NTP|NMEA 0183)/i.test(password)}
    >
      Votre mot de passe doit contenir l'intrus parmi la liste de protocole
      ci-dessous. Il ne doit pas contenir les autres éléments de la liste.<br />
      TCP/IP, P2P, HTTP, Okation, NTP, NMEA 0183,
      <Indice>
        Bloqué ? N'oubliez pas que votre mot de passe ne doit pas contenir les
        autres éléments de la liste.
      </Indice>
      <Tuto>
        <ul>
          <li>TCP/IP : Protocole de communication utilisé sur internet</li>
          <li>P2P : Protocole de partage de fichiers en pair à pair</li>
          <li>HTTP : Protocole de communication pour le web</li>
          <li>NTP : Protocole de synchronisation des horloges</li>
          <li>
            NMEA 0183 : Protocole de communication pour les équipements marins
          </li>
          <li>Okation : Ce protocole n'existe pas</li>
        </ul>
      </Tuto>
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) =>
        password.indexOf("4738") !== -1 || password.indexOf("4739") !== -1 }
    >
      <!-- https://nmeagen.org/ -->
      Votre mot de passe doit contenir les quatre premiers chiffres (on ne demande aucune conversion) correspondant à la latitude peu avant
      une heure du matin (UTC) d'un bateau dont voici les trames NMEA 0183 :<br
      />
      <code
        >$GPGGA,215319.083,4745.412,N,00352.443,W,1,12,1.0,0.0,M,0.0,M,,*78</code
      ><br />
      <code
        >$GPGGA,225319.183,4743.196,N,00349.642,W,1,12,1.0,0.0,M,0.0,M,,*7C</code
      ><br />
      <code
        >$GPGGA,235319.284,4740.534,N,00347.994,W,1,12,1.0,0.0,M,0.0,M,,*7C</code
      ><br />
      <code
        >$GPGGA,005319.385,4738.591,N,00344.945,W,1,12,1.0,0.0,M,0.0,M,,*72</code
      ><br />
      <code
        >$GPGGA,015319.486,4735.870,N,00343.709,W,1,12,1.0,0.0,M,0.0,M,,*79</code
      ><br />
      <code
        >$GPGGA,025319.587,4733.368,N,00343.050,W,1,12,1.0,0.0,M,0.0,M,,*75</code
      ><br />
      <code
        >$GPGGA,035319.687,4730.531,N,00342.638,W,1,12,1.0,0.0,M,0.0,M,,*77</code
      >
    </Puzzle>

    <Puzzle
      n={n++}
      {success}
      {level}
      check={(password) => loto.every((x) => password.indexOf(x) !== -1)}
    >
      Votre mot de passe doit contenir les résultats du tirage du loto de
      demain.
      <Indice>
        Il est réellement possible de réussir cette énigme. L'ordre des nombres
        tirés n'est pas important.
      </Indice>
    </Puzzle>
  </div>
    <div class="uk-align-right">
      <a
        href="#mentions-legales"
        onclick={(e) => {
          mentionsLegales = true;
          e.preventDefault();
        }}>Mentions légales</a
      >
      -
      Un jeu sous licence libre créé par {cacherCodeSource ? 'M. Degrange' : "Mathieu Degrange"}
      {#if !cacherCodeSource}
      -
      <a href="https://forge.apps.education.fr/DegrangeM/SecretNotTellable"
        >Code source</a
      > disponible sur la forge.
      {/if}
    </div>
</div>
<div class="uk-padding" style:display={!mentionsLegales ? "none" : ""}>
  <div class="uk-card uk-card-body uk-card-default" id="mentions-legales">
    <h3 class="uk-card-title">Mentions légales</h3>
    <div
      class="uk-card-badge uk-label"
      style="cursor: pointer;"
      role="button"
      tabindex="0"
      onkeydown={(e) => {
        if (e.key === "Escape") {
          mentionsLegales = false;
        }
      }}
      onclick={(e) => {
        mentionsLegales = false;
      }}
    >
      Fermer
    </div>
    <h5>Politique de cookies et les données personnelles</h5>
    <ul>
      <li>Ce site n'utilise aucune base de données, ne stocke et ne traite pas de données personnelles.</li>
      <li>Ce site n'utilise pas de cookies.</li>
      <li>Ce site enregistre dans le navigateur au bié du localstorage l'avancé dans le jeu (le faux mot de passe saisi).</li>
    </ul>

    <h5>Licence</h5>
    <ul>
      <li>Le code source de ce jeu est placé sous {@html cacherCodeSource?"licence MIT":'<a href="https://forge.apps.education.fr/DegrangeM/SecretNotTellable/-/blob/main/LICENSE">Licence MIT</a>'}.</li>
      {#if !cacherCodeSource}
      <li>Le <a href="https://forge.apps.education.fr/DegrangeM/SecretNotTellable/">code source</a> est disponible sur la Forge des communs numériques éducatifs.</li>
      {/if}
    </ul>
  </div>
</div>

<style>
  #puzzles {
    display: flex;
    flex-direction: column-reverse;
  }
</style>
