<script>
    function createFirework() {
        let angle = (Math.random() - 0.5) * 0.5;
        // let couleur = Math.floor(Math.random()*16777215).toString(16);
        let couleur = "hsl(" + parseInt(Math.random() * 360) + "deg 100% 70%)";
        let missile = document.createElement("div");
        let hauteur = Math.floor(Math.random() * 20) + 70;
        missile.style.color = couleur;
        missile.textContent = "*";
        missile.style.position = "fixed";
        missile.style.bottom = "0%";
        missile.style.left = "50%";
        missile.style.pointerEvents = "none";
        document.body.appendChild(missile);
        let interval = setInterval(() => {
            missile.style.bottom = parseFloat(missile.style.bottom) + 0.5 + "%";
            missile.style.left =
                parseFloat(missile.style.left) + 0.5 * angle + "%";
            if (parseFloat(missile.style.bottom) > hauteur) {
                clearInterval(interval);
                const lettre = ["S", "N", "T"][parseInt(Math.random() * 3)];
                for (let i = 0; i < parseInt(Math.random() * 5) + 10; i++) {
                    let etoile = document.createElement("div");
                    let dist = Math.random() / 2 + 0.5;
                    let vect = [
                        dist * (Math.random() - 0.5),
                        dist * (Math.random() - 0.5),
                    ];
                    etoile.style.color = couleur;
                    etoile.textContent = lettre;
                    etoile.style.position = "fixed";
                    etoile.style.bottom = missile.style.bottom;
                    etoile.style.left = missile.style.left;
                    etoile.style.textShadow = "0px 0px 1px white, 0px 0px 5px";
                    etoile.style.opacity = 1;
                    etoile.style.pointerEvents = "none";
                    document.body.appendChild(etoile);
                    let interval2 = setInterval(() => {
                        etoile.style.bottom =
                            parseFloat(etoile.style.bottom) +
                            0.5 * vect[0] +
                            "%";
                        etoile.style.left =
                            parseFloat(etoile.style.left) + 0.5 * vect[1] + "%";
                        etoile.style.opacity -= 0.01;
                        if (etoile.style.opacity <= 0 || !running) {
                            clearInterval(interval2);
                            etoile.remove();
                        }
                    }, 10);
                }
                missile.remove();
            }
        }, 10);
    }
</script>
<button class="uk-button uk-button-default" onclick={createFirework}>Yeah !</button>