<script>
    import { getContext } from 'svelte';
    let {children} = $props();
    let success = getContext('success');
</script>
{#if !$success}
    <hr>
    <div class="uk-alert uk-text-small">
        <b>Indice :</b> <span class="indice">{@render children()}</span>
    </div>
{/if}
<style>
    .indice {
        filter: blur(5px);
        opacity: 0.25;
        transition: filter 1s ease, opacity 1s ease;
        cursor: help;
    }
    .indice:hover {
        filter: blur(0);
        opacity: 1;
    }
</style>