<script>
    import { setContext, getContext } from 'svelte';
    import { writable } from 'svelte/store';
    let {n, level, success, children, check} = $props();
    let writableSuccess = writable(false);
    let successFunction = getContext('successFunction');
    check && ($successFunction[n] = check);
    $effect(() => {
        $writableSuccess = success[n];
    });
    setContext('success', writableSuccess);
</script>
{#if n <= level}
<div style:order={success[n] ? n : n + 1000}>
    <div class="uk-card uk-card-body uk-card-default uk-card-hover" style:background={success[n] ? 'inherit' : '#fef4f6'} style:color={success[n] ? 'inherit':'#f0506e'}>
        <h3 class="uk-card-title" style:color={success[n] ? 'inherit':'#f0506e'}>Règle {n}</h3>
            <div class="uk-card-badge uk-label {success[n]?'uk-label-success':'uk-label-danger'}" >{success[n] ? 'Respectée' : 'Non respectée'}</div>
        {@render children()}
    </div>
    <hr class="uk-divider-icon">
</div>
{/if}