<script>
    import { getContext } from 'svelte';
    let {children} = $props();
    let success = getContext('success');
</script>
{#if $success}
    <hr>
    <div class="uk-alert uk-alert-success uk-text-small">
        <b>Le saviez-vous ?</b> {@render children()}
    </div>
{/if}