.indice.svelte-1typxir{filter:blur(5px);opacity:.25;transition:filter 1s ease,opacity 1s ease;cursor:help}.indice.svelte-1typxir:hover{filter:blur(0);opacity:1}#puzzles.svelte-1gccfcq{display:flex;flex-direction:column-reverse}
